@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Ubuntu:wght@500&display=swap");

html{
    scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu','San-serif';
}

/* navbar */

:root {
  --body-color: bisque;
  --nav-color: bisque;
  --side-nav: #000000;
  --text-color: #000;
  --search-bar: #eddea4;
  /* --search-text: #010718; */
}


nav {
  font-family: 'Ubuntu';
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  /* background-color: var(--nav-color); */
  z-index: 100;
}

body.dark nav {
  border: 1px solid #393838;
}

nav .nav-bar {
  border-radius: 50px;
  position: sticky;
  height: 100%;
  max-width: 90%;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}

.nav-bar .searchBox {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.searchBox .searchBox1 .searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 5px; */
}

.searchBox1 {
  /* margin-bottom:20px ; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchToggle i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 auto;
}

.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  position: relative;
}

.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchToggle.active~.search-field {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.search-field::before {
  content: "";
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: white;
}

/* navigation logo and img */
#logo{
    margin: 10px 30px;
}

#logo img{
    height: 75px;
    margin: 3px 6px;
    /* border-image: 10px; */
}

#navbar ul{
    display:flex; 
    font-family: 'Ubuntu', sans-serif;
}

#navbar ul li{
    list-style-type: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 1px 20px;
    text-decoration: none;
    border-radius: 5px;
}

#navbar ul li a:hover{
    color: black;
    text-decoration: underline;
    background-color: white;
    font-weight: lighter;

}

/* HOME SECTION */
#home{
    display: flex;
    flex-direction: column;
    padding: 30px 200px;
    height: 615px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background:url('../img/bg1.jpg') no-repeat center center/cover;
    height: 745px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: .65;
}

#home h1{
    color:black;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}
#home p{
    color:black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}
/* services */
#services-container{
    padding-top: 50px;
}
#services{
    margin: 20px;
    display: flex;
}
#services .box{
    border: 2px solid  black;
    margin: 20px 7px;
    padding: 10px 10px ;
    border-radius: 25px;
    background-color: bisque;
}
#services .box img{
    height: 91px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: 'Kanit', sans-serif;
}

/* client sectio */
#client-section{
    position: relative;
}


#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/pexels-minimal-studiotr-16767774.png')no-repeat center center/cover;
    height: 350px;
    width: 100%;
    z-index: -1;
    opacity: .5;
}   

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px
}
#clients img{
    height: auto;
    width: 150px;
}

/* contact section  */
    
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute ;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img/pexels-deane-bayas-16774290.png') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Kanit', sans-serif;
}

#contact-box input, #contact-box textarea{
    width: 100%;
    padding: .6rem;
    border-radius: 7px;
    font-size: 1.1rem;

}

footer{
    background-color: black;
    color: white;
    padding: 20px 20px;
}

/* utility classes */
.h-primary{
    font-size: 5rem;
    padding: 20px;
    font-family: 'Kanit', sans-serif;
}
.h-secondary{
    font-size: 2rem;
    padding: 10px;
    font-family: 'Kanit', sans-serif;
}

.btn{
    padding: 7px 30px ;
    border: 2px solid black;
    border-radius: 10px;
    background-color:rgb(255, 223, 181);
    margin: 20px;
    font-size: 2 rem;
    cursor: pointer;
}
.btn:hover{
    color: white;
    background-color: black;
    text-decoration: underline white;
}
.centre{
    text-align: center;
}
