body {
    margin: 0;
    padding: 0;
    background-image: url('/calendar-1763587_1280.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
    color: #fff;
    object-fit: cover;
}

.container {
    background-color: rgba(0, 0, 0, 0.726);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #000;
}

h1 {
    font-size: 40px;
    color: #FFD700;
    text-shadow: 2px 2px 4px #000;
}

.task-input {
    margin: 20px 0;
}

input, select, button {
    padding: 10px;
    margin: 5px;
    font-family: 'Comic Sans MS', cursive;
    font-size: 16px;
    border: 2px solid #145aff;
    border-radius: 5px;
    background: transparent;
    color: #000;
}

button {
    background-color: #145aff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003fd3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: rgba(0, 0, 0, 0.399);
    border: 2px solid #fff;
    margin: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-family: 'Comic Sans MS', cursive;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #88888800;
}

button.delete {
    background-color: #FF3333;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.delete:hover {
    background-color: #FF0000;
}
